[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
better-exceptions = "*"
pylint = "*"

[packages]
websockets = "*"
docopt = "*"

[requires]
python_version = "3.6"
