[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
better-exceptions = "*"
pylint = "*"

[packages]
websockets = "*"
docopt = "*"
prompt-toolkit = "*"
termcolor = "*"
terminaltables = "*"

[requires]
python_version = "3.7"
