[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "==5.6.0"

[packages]
rpyc = "*"
paramiko = "*"
Flask = "*"
Flask-SocketIO = "*"
eventlet = "*"
Flask-JWT = "*"

[requires]
python_version = "2.7"
