[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
rpyc = "*"
ipython = ">=5"
netifaces = "*"
paramiko = "*"
terminaltables = "*"

[requires]
python_version = "2.7"
