[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
better_exceptions = "*"
pylint = "*"

[packages]
websockets = "*"
docopt = "*"
netifaces = "*"
Quart = "*"

[requires]
python_version = "3.7"
